#projects {
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 65rem;
    text-align: center;
    padding:0 1rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project_heading {
    margin: 1rem 0;
    font-size: 3rem;
}
.project_desc {
    font-weight: 300;
    font-size: 1rem;
    margin-bottom: 1rem;
    max-width: 45rem;
}
.project_demo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    max-width: 65rem;
    gap: 1rem;
}
.project_list{
    background-color: rgb(50, 50, 50);
    border-radius: 1rem;
    height: 21rem;
    width: 15rem;
    overflow: hidden;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    position: relative;
}
.project_list_head {
    height: 50%;
    position: relative;
}
.project_list_head img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.project_list_head > p {
    position: absolute;
    bottom: -10px;
    right: 50%;
    transform: translateX(50%);
    background-color: rgb(50, 50, 50);
    padding: 0.2rem 0.5rem;
    font-size: 0.50rem;
    border-radius: 8px 8px 0 0;
}
.project_list_body {
    padding: 0.5rem;
    display: flex;
    height: 50%;
    flex-direction: column;
    justify-content: space-between;
}
.project_list_body h2 {
    font-size: 1rem;
    margin: 0.25rem 0;
    color: yellow;
}
.project_list_body p {
    font-size: 0.70rem;
    cursor: pointer;
}
.project_list_body p:hover {
    color: yellow;
}
.project_list_body   a {
    display: inline-block;
    border-radius: 0.5rem;
    width: 100%;
    margin: 0.25rem 0;
}
.project_list_desc {
    position: absolute;
    padding: 1rem;
    background-color: black;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.3s;
}


.project_list_desc button {
    border: none;
    outline: none;
    background-color: yellow;
    border-radius: 0.25rem;
    cursor: pointer;
}
.project_list_desc p {
    font-size: 0.70rem;
}

.website_link {
    font-size: small;
    background-color: yellow;
    color: black !important;
    padding: 0.3rem 0.75rem;
}
.github_link {
    font-size: small;
    background-color: black;
    padding: 0.3rem 0.75rem;
}

.project_list_body a {
    color: white;
}

@media screen and (max-width:580px){
    .project_list{
        width: 38vw;
        height: calc(45vw + 75px);
        
    }
    .project_list_body h2 {
        font-size: 3vw;
        margin: 4px 0;
    }
    .project_list_body p {
        font-size: 2vw;
    }
    .project_list_body  a {
        margin: 0.25rem 0;
        font-size: 2vw;
    }
    .project_list_desc p{
        font-size: 2vw;
    }
    .project_list_head > p {
        font-size: 1.5vw;
    }
}