#education {
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 65rem;
    text-align: center;
    padding:0 1rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.education_heading {
    font-size: 3rem;
    margin: 1rem 0;
}

.course_name {
    margin: 0.25rem 0;
    width: fit-content;
    padding: 0.25rem .5rem;
    border-radius: 2px;
    display: inline-block;
}


/* Sliding Window Styles */
.sliding_window {
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    margin: 2rem 0;
    box-shadow: var(--shadow-large);
    border: var(--border-light);
}
.sliding_window nav {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    min-height: 3rem;
    transition: .3s;
}
.sliding_window nav p {
    cursor: pointer;
    padding: 0.75rem 1rem;
    border-radius: 1rem 1rem 0 0;
}
.activeNav{
    position: relative;
}
.before,
.after{
    position: absolute;
    width: 1rem;
    height: 1rem;
    bottom: 0;
}
.before{
    left: calc(1rem * -1);
    border-radius: 0 0 100vw 0;
}

.after{
    right: calc(1rem * -1);
    border-radius: 0 0 0 100vw;
    box-shadow: -5px 5px 0 5px rgb(255, 255, 255);
}

.sliding_window_body {
    padding: 4rem 2rem;
    min-height: 13rem;
}

.sliding_window_body h3{
    font-size: medium;
    font-weight: 500;
    color: var(--orange-color);
}

.sliding_window_body span {
    font-size: x-small;
    padding-left: 2px;
    vertical-align:baseline;
}
.sliding_window_body > h3 span {
    vertical-align: middle;
    font-size: small;
}
.sliding_window_body p {
    font-size: small;
}
@media screen and (max-width:720px){
    .sliding_window nav p {
        font-size: small;
        cursor: default;
    }
    .sliding_window_body p, .sliding_window_body span {
        font-size: 2vw;
    }
    .sliding_window_body > h3 {
        font-size: 3vw;
    }
    .sliding_window_body > h3 span {
        font-size: smaller;
    }
}