#education {
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 65rem;
    text-align: center;
    padding:0 1rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.education_heading {
    font-size: 3rem;
    margin: 1rem 0;
}
.education_wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.education_list{
    display: flex;
    gap: 0.25rem;
}
.list_head {
    background-color: yellow;
    color: black;
    min-width: 15rem;
    min-height: 7rem;
    padding: .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list_body {
    background-color: rgb(50, 50, 50);
    min-width: 27rem;
    padding: 1rem;
    text-align: start;
}
.list_head > h3 {
    font-weight: 400;
}
.list_head > h3 span {
    vertical-align: middle;
    font-size: small;
}
.list_body > h3 {
    font-size: medium;
    font-weight: 500;
    color: yellow;
}
.list_body p {
    font-size: small;
}
.course_name {
    margin: 0.25rem 0;
    width: fit-content;
    background-color: rgb(26, 26, 26);
    padding: 0.25rem .5rem;
    border-radius: 2px;
    display: inline-block;
}
.list_body span {
    font-size: x-small;
    vertical-align: middle;
}

@media screen and (max-width:720px){
    .education_list{
        flex-direction: column;
        gap: 0;
        flex-wrap: wrap;
    }
    .list_head{
        min-height: 3rem;
        min-width: 80vw;
    }
    .list_body{
        min-width: 80vw;
    }
    .education_wrapper{
        gap: 0.5rem;
    }
    .list_body p, .list_body span {
        font-size: 2vw;
    }
    .list_body > h3 {
        font-size: 3vw;
    }
    .list_head > h3 {
        font-size: 4vw;
    }
    .list_head > h3 span {
        font-size: 2vw;
    }
}