#skills {
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 65rem;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}
.skill_title{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}
.skill_desc{
    padding: 0 1rem;
    font-weight: 400;
    font-size: 0.9rem;
    max-width: 51rem;
}
.skill_icon_list img {
    height: 1.2rem;
}
.skill_icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 4rem 0;
}
.skill_icons .skill_icon_list {
    padding: 0.6rem 1.5rem;
    border-radius: 0.75rem;
    box-shadow: var(--shadow-small);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border: var(--border-light);
}


@media screen and (max-width:480px){
    .skill_icon_list img{
        height: 1.2rem;
    }
    .skill_icon_list p {
        font-size: smaller;
    }
    .skill_icons .skill_icon_list {
        width: 9rem;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
    }
    .skill_desc{
        font-size: 0.7rem;
        padding: 0 0.5rem;
    }
    .skill_icons{
        margin: 2rem 0;
    }
}
