#contact {
    width: 100vw;
    max-width: 60rem;
    height: calc(100vh - 4rem);
    margin: 0 auto;
    text-align: center;
}
.contact_heading{
    margin: 1rem 0;
    font-size: 3rem;
}
.contact_desc {
    font-weight: 300;
    font-size: 1rem;
    margin-bottom: 1rem;
    max-width: 45rem;
}
.contact_form {
    margin: 1rem;
    width: 90vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact_form input, .contact_form textarea {
    width: 100%;
    max-width: 40rem;
    padding: 0.5rem 1rem;
    margin: 1rem;
    font-size: medium;
    border: none;
    color: white;
    background-color: rgb(40, 40, 40);
    border-radius: 0.5rem;
}

.contact_form button {
    background-color: white;
    border: none;
    padding: 0.75rem 3.5rem;
    border-radius: 0.5rem;
    margin: 2rem;
    cursor: pointer;
}
.social_media{
    display: flex;
}
.social_media svg {
    margin: 0 0.75rem;
}